@tailwind base;
@tailwind components;
@tailwind utilities;
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "neuropol";
  src: url("./assets/fonts/Neuropol.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hiddenElement{
  display: none !important;
  opacity: 0;
}
 
html{
  scroll-behavior: smooth;
}

:root{
  --primaryClr:#be000d;
  --whiteClr:rgb(231, 231, 231);
  --bodyClr:#000919;
  
  --seconClr:#f7d857;
  --thirdClr:#b7924e; 
}



.primaryClr_text{
  color: var(--primaryClr);
}

.audiowide_font {
  font-family: "Audiowide", sans-serif; 
}




section{
  width: 100%;
  height: auto;
  position: relative;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_col_center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderClr{
  border-color: var(--primaryClr);
}

.mirror{
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}


.hoverbtn{
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -moz-transition: .1s ease-in;
  -ms-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.hoverbtn:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}


.primaryClr{
  color: var(--primaryClr);
}

/* light container */
.light_container{
  position: relative;
  border: 2px solid var(--primaryClr);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.light_container.large{
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.inner_content_light{
  position: relative;
  border: 2px solid var(--primaryClr);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.inner_content_light.large{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.inner_content_light::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff69737e;   
}

.light{
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.light1,
.light2{
  position: absolute;
  width: 35%;
  height: 60%;
  background-color: #f39853e0;
  filter: blur(50px);
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  -webkit-filter: blur(50px);
}

.light1{
  left: -20%;
}

.light2{
  right: -20%;
}

/* 
      <span class="decorNav">
            <img src={decorNavImg} alt="decor"/>
           </span>
 */

/* navbar */
.decorNav{
  position: absolute;
  
  left: 0;
  top: 0;

  width: 45px;
  height: 34px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.decorNav img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu_links_container{
  background: linear-gradient(#16161d, #161629, #2e253a);
  border-bottom: 2px solid var(--primaryClr);
  transform: translateY(-200%);
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
}

.menu_links_container.active{
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.links_nav a{
  font-size: 5vw;
  color: var(--primaryClr);
  text-shadow: -.3vw .5vw 2px black;
  -webkit-text-stroke: .1vw black;
  font-family: "Audiowide", sans-serif; 

  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.links_nav a::before{
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 0%;
  height: .3vw;
  background-color: var(--primaryClr);
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  -o-transition: .3s ease-in;
}

.links_nav a:hover::before{ 
  width: 100%;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


/* hero */
/* .border_hero{
  border-left: 4px solid var(--primaryClr);
  border-bottom: 4px solid var(--primaryClr);
  border-right: 4px solid var(--primaryClr);
}

.content_container::before{
  content: "";
  width: 4%;
  height: 4px;
  left: .15%;
  top: 0;
  position: absolute;
  background-color: var(--primaryClr);
  border-radius: 100px 50px 50px 20px;
  -webkit-border-radius: 100px 50px 50px 20px;
  -moz-border-radius: 100px 50px 50px 20px;
  -ms-border-radius: 100px 50px 50px 20px;
  -o-border-radius: 100px 50px 50px 20px;
}

.content_container::after{
  content: "";
  width: 4%;
  height: 4px;
  right: 0;
  top: 0;
  position: absolute;
  background-color: var(--primaryClr);
  border-radius: 100px 300px 50px 100px;
  -webkit-border-radius: 100px 300px 50px 100px;
  -moz-border-radius: 100px 300px 50px 100px;
  -ms-border-radius: 100px 300px 50px 100px;
  -o-border-radius: 100px 300px 50px 100px;
} */

.hero_link_animation{
  animation: bounce 2s ease infinite;
  -webkit-animation: bounce 2s ease infinite;
}

.hero_link_animation:hover{
  animation-play-state: paused;
}

.hero_link_animation img{
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -moz-transition: .2s ease-in;
  -ms-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.hero_link_animation:hover img{
  transform: scale(1.1) translateY(-10px);
  -webkit-transform: scale(1.1) translateY(-10px);
  -moz-transform: scale(1.1) translateY(-10px);
  -ms-transform: scale(1.1) translateY(-10px);
  -o-transform: scale(1.1) translateY(-10px);
}


@keyframes bounce {
  70% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-7.5%);
  }
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-3.5%);
  }
  97% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(-1.5%);
  }
  to {
    transform: translateY(0);
  }
}

/* about */
.typeAnimation .ti-cursor{
  color: transparent !important;
}

.fire{
  font-size: 3.2vw; 
  color: var(--primaryClr);
  -webkit-text-stroke: 0.05vw black;
  text-shadow: 0 .2vw black; 

  text-transform: uppercase;
  font-family: "Audiowide", sans-serif; 
}
 
 
.fire_btn,
.aboutMainImg{
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.fire_btn.active,
.aboutMainImg.active{
  opacity: 0;
}


.fireImg{
  opacity: 0;
  transition: opacity 2.3s ease-in-out;
  -webkit-transition: opacity 2.3s ease-in-out;
  -moz-transition: opacity 2.3s ease-in-out;
  -ms-transition: opacity 2.3s ease-in-out;
  -o-transition: opacity 2.3s ease-in-out; 
}

.fireImg.active{
  opacity: 1;
  z-index: 100;
}

/* tokenomics */
.token_img{
  animation: rotate_imgToken 30s infinite linear ;
  -webkit-animation: rotate_imgToken 30s infinite linear ;
}

.circle{
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.token_content{ 
  gap: 1rem;
  flex-direction: column;

  z-index: 10;
}

.token_container h2{
  font-family: "Audiowide", sans-serif; 
  color: var(--whiteClr);
  font-size: 1.5rem;
}

.token_container p{
  color: var(--whiteClr);
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* content container */
.title_content{
  display: flex;
  justify-content: start;
  align-items: center;
  
  width: 100%;
  position: relative;
  gap: 1.25vw;
}

.title_content span{
  width: 30px;
  height: 30px;

  
  display: flex;
  justify-content: center;
  align-items: center;
}


.title_content span img{
  width: 100%;
  object-fit: contain;
  height: auto;
  animation: rotate_img 4s infinite linear ;
  -webkit-animation: rotate_img 4s infinite linear ;
}

.contentContainer .content{
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contentContainer h3{
  font-family: "Audiowide", sans-serif; 
  font-size: 2.25vw;
  text-transform: uppercase;
  color: var(--whiteClr); 

  line-height: 1;
}

.contentContainer p{
  font-size: 1.1vw;
  color: var(--whiteClr);
  letter-spacing: .1vw;
}

.linksCex .hoverbtn{
  background-color: black;
}

/* responsive media queries */
@media screen and (max-width:1024px) {

  .contentContainer h3{ 
    font-size: 2vw; 
  }
  
  .contentContainer p{
    font-size: 1.7vw; 
    letter-spacing: .1vw;
  }

  .fire{
    font-size: 5.2vw; 
    color: var(--primaryClr);
    -webkit-text-stroke: 0.05vw black;
    text-shadow: 0 .2vw black; 
  
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif; 
  }
   
}

@media screen and (max-width:768px) {
  .decorNav{ 
    width: 30px;
    height: 23px; 
  }

  .links_nav a{
    font-size: 8vw; 
  }

  /* tokenomics */
  .circle{
    width: 15px;
    height: 15px; 
  }

  .token_container h2{ 
    font-size: 1.5rem;
  }

  .token_container p{ 
    font-size: 0.75rem;
  }

  /* content */
  .title_content{
    gap: 1rem;
  }

  .title_content span{
    width: 15px;
    height: 15px; 

  }

  
  .contentContainer h3{ 
    font-size: 4vw; 
  }
  
  .contentContainer p{
    font-size: 2.5vw; 
    letter-spacing: .1vw;
  }
  
}


/* animation */
.float_animation {
  animation: float 7s ease-in-out infinite;
  -webkit-animation: float 7s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-1vw);
    -webkit-transform: translateY(-1vw);
    -moz-transform: translateY(-1vw);
    -ms-transform: translateY(-1vw);
    -o-transform: translateY(-1vw);
  }
  70% {
    transform: translateY(1vw);
    -webkit-transform: translateY(1vw);
    -moz-transform: translateY(1vw);
    -ms-transform: translateY(1vw);
    -o-transform: translateY(1vw);
  }
}


.light_animation{
  animation: light_animation 3s linear infinite;
  -webkit-animation: light_animation 3s linear infinite;
}

@keyframes light_animation {
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0.3;
  }
}

.plane_animation{
  animation: plane_animation 3s linear infinite;
  -webkit-animation: plane_animation 3s linear infinite;
}


@keyframes plane_animation {
  0%, 100%{
    transform: rotate(0deg) translateY(0vw);
    -webkit-transform: rotate(0deg) translateY(0vw);
    -moz-transform: rotate(0deg) translateY(0vw);
    -ms-transform: rotate(0deg) translateY(0vw);
    -o-transform: rotate(0deg) translateY(0vw);
}
  10%{
    transform: rotate(3deg)  translateY(1vw);
    -webkit-transform: rotate(3deg)  translateY(1vw);
    -moz-transform: rotate(3deg)  translateY(1vw);
    -ms-transform: rotate(3deg)  translateY(1vw);
    -o-transform: rotate(3deg)  translateY(1vw);
}
  15%{
    transform: rotate(-3deg)  translateY(-1vw);
    -webkit-transform: rotate(-3deg)  translateY(-1vw);
    -moz-transform: rotate(-3deg)  translateY(-1vw);
    -ms-transform: rotate(-3deg)  translateY(-1vw);
    -o-transform: rotate(-3deg)  translateY(-1vw);
}
  30%{
    transform: rotate(3deg)  translateY(1vw);
    -webkit-transform: rotate(3deg)  translateY(1vw);
    -moz-transform: rotate(3deg)  translateY(1vw);
    -ms-transform: rotate(3deg)  translateY(1vw);
    -o-transform: rotate(3deg)  translateY(1vw);
}
  50%{
    transform: rotate(3deg)  translateY(-1vw);
    -webkit-transform: rotate(3deg)  translateY(-1vw);
    -moz-transform: rotate(3deg)  translateY(-1vw);
    -ms-transform: rotate(3deg)  translateY(-1vw);
    -o-transform: rotate(3deg)  translateY(-1vw);
}
  70%{
    transform: rotate(-2deg)  translateY(2vw);
    -webkit-transform: rotate(-2deg)  translateY(2vw);
    -moz-transform: rotate(-2deg)  translateY(2vw);
    -ms-transform: rotate(-2deg)  translateY(2vw);
    -o-transform: rotate(-2deg)  translateY(2vw);
}
  90%{
    transform: rotate(2deg)  translateY(-1vw);
    -webkit-transform: rotate(2deg)  translateY(-1vw);
    -moz-transform: rotate(2deg)  translateY(-1vw);
    -ms-transform: rotate(2deg)  translateY(-1vw);
    -o-transform: rotate(2deg)  translateY(-1vw);
}


 
}

.walk_animation{
  animation: walk_animation 20s linear infinite;
  -webkit-animation: walk_animation 20s linear infinite;
}

@keyframes walk_animation {
  0% {
    left: 50px;
    transform: translateY(0%) scaleX(1);
  }
  50% {
    left: calc(70% - 0px);
    transform: translateY(0%) scaleX(1);
  }
  50.01% {
    transform: translateY(0%) scaleX(-1);
    -webkit-transform: translateY(0%) scaleX(-1);
    -moz-transform: translateY(0%) scaleX(-1);
    -ms-transform: translateY(0%) scaleX(-1);
    -o-transform: translateY(0%) scaleX(-1);
}
  100% {
    left: 50px;
    transform: translateY(0%) scaleX(-1);
  }
}

@keyframes rotate_img {
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

@keyframes rotate_imgToken {
  0%{
    transform: rotate(0deg) scale(1)  ;
    -webkit-transform: rotate(0deg) scale(1)  ;
    -moz-transform: rotate(0deg) scale(1)  ;
    -ms-transform: rotate(0deg) scale(1)  ;
    -o-transform: rotate(0deg) scale(1)  ;
}
  40% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
  50% {
    transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
}
  90% {
    transform: rotate(720deg) scale(1);
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -ms-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1);
}
  100% {
    transform: rotate(720deg) scale(1);
    -webkit-transform: rotate(720deg) scale(1);
    -moz-transform: rotate(720deg) scale(1);
    -ms-transform: rotate(720deg) scale(1);
    -o-transform: rotate(720deg) scale(1);
}
}


.openClose{
  animation:openClose 2s infinite linear;
  -webkit-animation:openClose 2s infinite linear;
}

@keyframes openClose {
  0%,100%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
}

 

.fire_container{ 
  width: 5vw;
  height: 5vw; 
  position:relative;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:3ms;
  animation-delay:200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flame{
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.yellow{
  left:15px; 
  width: 2vw;
  height: 2vw;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px; 
  width: 3.3vw;
  height: 3.3vw;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 5vw;
  height: 5vw;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px; 
  bottom:-4px;
  width: 4vw;
  height: 4vw;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;  
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px; 
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black{
  width: 40px;
  height: 40px;
  left:10px;
  bottom:-60px;  
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}

 
.glitch {
  position: relative; 
  background-color: #595F6A;
  letter-spacing: 1px;
}

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 4px;
  text-shadow: -1px 0 #ffa800;
  background: #595F6A;
}

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: -4px;
  text-shadow: 1px 0 #00d8ff;
  background: #595F6A;
}

@keyframes glitch-animation {
  0% { clip: rect(42px, 9999px, 44px, 0); }
  5% { clip: rect(12px, 9999px, 59px, 0); }
  10% { clip: rect(48px, 9999px, 29px, 0); }
  15.0% { clip: rect(42px, 9999px, 73px, 0); }
  20% { clip: rect(63px, 9999px, 27px, 0); }
  25% { clip: rect(34px, 9999px, 55px, 0); }
  30.0% { clip: rect(86px, 9999px, 73px, 0); }
  35% { clip: rect(20px, 9999px, 20px, 0); }
  40% { clip: rect(26px, 9999px, 60px, 0); }
  45% { clip: rect(25px, 9999px, 66px, 0); }
  50% { clip: rect(57px, 9999px, 98px, 0); }
  55.0% { clip: rect(5px, 9999px, 46px, 0); }
  60.0% { clip: rect(82px, 9999px, 31px, 0); }
  65% { clip: rect(54px, 9999px, 27px, 0); }
  70% { clip: rect(28px, 9999px, 99px, 0); }
  75% { clip: rect(45px, 9999px, 69px, 0); }
  80% { clip: rect(23px, 9999px, 85px, 0); }
  85.0% { clip: rect(54px, 9999px, 84px, 0); }
  90% { clip: rect(45px, 9999px, 47px, 0); }
  95% { clip: rect(37px, 9999px, 20px, 0); }
  100% { clip: rect(4px, 9999px, 91px, 0); }
}

@keyframes glitch-animation-2 {
  0% { clip: rect(65px, 9999px, 100px, 0); }
  5% { clip: rect(52px, 9999px, 74px, 0); }
  10% { clip: rect(79px, 9999px, 85px, 0); }
  15.0% { clip: rect(75px, 9999px, 5px, 0); }
  20% { clip: rect(67px, 9999px, 61px, 0); }
  25% { clip: rect(14px, 9999px, 79px, 0); }
  30.0% { clip: rect(1px, 9999px, 66px, 0); }
  35% { clip: rect(86px, 9999px, 30px, 0); }
  40% { clip: rect(23px, 9999px, 98px, 0); }
  45% { clip: rect(85px, 9999px, 72px, 0); }
  50% { clip: rect(71px, 9999px, 75px, 0); }
  55.0% { clip: rect(2px, 9999px, 48px, 0); }
  60.0% { clip: rect(30px, 9999px, 16px, 0); }
  65% { clip: rect(59px, 9999px, 50px, 0); }
  70% { clip: rect(41px, 9999px, 62px, 0); }
  75% { clip: rect(2px, 9999px, 82px, 0); }
  80% { clip: rect(47px, 9999px, 73px, 0); }
  85.0% { clip: rect(3px, 9999px, 27px, 0); }
  90% { clip: rect(26px, 9999px, 55px, 0); }
  95% { clip: rect(42px, 9999px, 97px, 0); }
  100% { clip: rect(38px, 9999px, 49px, 0); }
}


 
.sky { 
  overflow: hidden;
}

.comets { 
  width: 150vw;
  height: 150vh;
  transform-origin: center;
  transform: translate3d(-25vw, -25vh, 1px) rotate(65deg) scale(0.75);
}

.comet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 75vh;
  background: linear-gradient(#fff, transparent);
  animation: comet 3s ease-in-out forwards;
}

@keyframes comet {
  0% {
    opacity: 0;
    transform: translateY(220%) scaleY(0);
    -webkit-transform: translateY(220%) scaleY(0);
    -moz-transform: translateY(220%) scaleY(0);
    -ms-transform: translateY(220%) scaleY(0);
    -o-transform: translateY(220%) scaleY(0);
}
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0) scaleY(1);
    -webkit-transform: translateY(0) scaleY(1);
    -moz-transform: translateY(0) scaleY(1);
    -ms-transform: translateY(0) scaleY(1);
    -o-transform: translateY(0) scaleY(1);
}
}











.textAbout::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

.textAbout::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.textAbout::-webkit-scrollbar-thumb {
  background-color: var(--primaryClr);
  border-radius: 5px; 
}


/* link to page */
.toPage{
  background: linear-gradient(180deg, #0e0041 0%, #000919 100%);
}